extends layout
block content
    include ../components/header
    .main-container
      .left-content
        .article-page
          .article-header
            h2.article-title #{title}
            p.article-status
              span.publish-time 日期：#{publish_time}
              span.read-amount 浏览：#{read_amount}
              span.like-amount 赞：#{like_amount}
          .markdown-wd !{content}
          .article-footer
            .footer-page
              a(href=article_footer.prev?"/article/"+article_footer.prev._id:'javscript:;',class="prev") 《 #{article_footer.prev?article_footer.prev.title:'无'}
              a(href=article_footer.next?"/article/"+article_footer.next._id:'javscript:;',class="next") #{article_footer.next?article_footer.next.title:'无'} 》
        .comment-box
          form(action="/comment/"+_id, method="post")
            textarea(id="comment-text",hidden,name="comment")
            .bottom-bar
              input(type="submit", value="发表评论",class="submit-comment") 
        .comment-list
          each item in comment
            .comment-list-item
              .avatar 
                img(src=item.user.avatar, alt="用户头像")
              .content
                p.content-status
                  span.username #{item.user.username}
                  span.comment-time #{item.publish_time}
                p.content-center
                  |#{item.content}
                .bottom-content
                  .reply 回复
                  .like
                    span.iconfont.icon-dianzan
                    |赞（#{item.like_amount}）
      .right-side
        .tag-box
          .tagcloud
            each tag in tags
              a(href="/list/tag/"+tag._id) #{tag.content}
        .hot-article
          h2.title  热门文章
          ul.hot-article-list
            each list_item in hot_article_list
              li.hot-article-list-item.clearfix 
                a(href="/article/"+list_item._id,class="list-link") #{list_item.title}
                span.read-amount 
                  span.iconfont.icon-read
                  |#{list_item.read_amount}
           
    .tool-bar
      span.iconfont.icon-top
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="../scripts/tagcloud.js")
    script(src="../scripts/index.js")