extends layout
block content
    include ../components/header
    .main-container
      .left-content
        .article-page
          .article-header
            h2.article-title #{title}
            p.article-status
              span.publish-time 日期：#{publish_time}
              span.read-amount 浏览：#{read_amount}
          .markdown-wd !{content}
          
          .article-footer
            .footer-page
              a(href=article_footer.prev?"/article/"+article_footer.prev._id:'javscript:;',class="prev") 《 #{article_footer.prev?article_footer.prev.title:'无'}
              a(href=article_footer.next?"/article/"+article_footer.next._id:'javscript:;',class="next") #{article_footer.next?article_footer.next.title:'无'} 》
            .share-box
              <div class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
              </div>
              <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","weixin","renren","tqq","tieba","douban","bdhome","sqq","fbook","twi","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin","print","copy"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin","print","copy"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        .comment-container
          .comment-list
            each item in comment
              .comment-list-item
                .avatar 
                  img(src=item.user.avatar, alt="用户头像")
                .content
                  p.content-status
                    span.username #{item.user.username}
                    span.comment-time 
                      time(class="timeago", datetime=item.publish_time)
                  div.content-center.markdown-wd !{item.content}
                  if user  
                    .bottom-content
                      div(class="reply",data-user=item.user.username,data-cid=item._id) 回复
                      if user._id == item.user._id
                        div(class="delete",data-cid=item._id) 删除
                      .like
                        if item.like_user.indexOf(user._id)>-1
                          span(class="iconfont icon-dianzan",data-cid=item._id,style="color:#20a0ff")
                        else
                          span(class="iconfont icon-dianzan",data-cid=item._id)
                        |赞 
                        span.like_count #{item.like_amount}
          if user && user.username
            .comment-box
              form(action="/comment/"+_id, method="post",id="comment-form")
                textarea(id="comment-text",hidden,name="comment[content]")
                .bottom-bar
                  input(type="submit", value="发表评论",class="submit-comment")
              <div class="link-alert">
                <h3 class="title">新建链接 <span class="iconfont icon-close"></span></h3>
                <input type="text" name="title" class="link-title" placeholder="请输入链接文字">
                <input type="text" name="text" class="link-text" placeholder="请输入链接内容">
                <div class="link-btn">确定</div>
              </div>
              <div class="image-alert">
                <h3 class="title">图片上传 <span class="iconfont icon-close"></span></h3>
                <div class="content-box" id="dropbox">
                  <div class="upload-box">
                    <label for="file-upload" class="upload-btn">点击上传</label>
                    <input type="file" multiple id="file-upload" hidden>
                  </div>
                  <div class="progress-box" style="display:none;">
                    <svg xmlns="http://www.w3.org/2000/svg">
                      <line x1="30" y1="110" x2="330" y2="110"style="stroke:#e4e8f1;stroke-width:4;stroke-linecap:round;"/>          
                      <line x1="30" y1="110" x2="330" y2="110"style="stroke:#20a0ff;stroke-width:4;stroke-linecap:round;stroke-dasharray:300" stroke-dashoffset="300" class="progress"/>
                    </svg>
                    <div class="percent">0%</div>
                  </div>
                </div>
              </div>
          else
            .no-login
              span.signin 登录 
              |/ 
              span.signup 注册
              |之后评论
      .right-side
        .tag-box
          .tagcloud
            each tag in tags
              a(href="/list/tag/"+tag._id) #{tag.content}
        .hot-article
          h2.title  热门文章
          ul.hot-article-list
            each list_item in hot_article_list
              li.hot-article-list-item.clearfix 
                a(href="/article/"+list_item._id,class="list-link") #{list_item.title}
                span.read-amount 
                  span.iconfont.icon-read
                  |#{list_item.read_amount}
           
    .tool-bar
      span.iconfont.icon-top
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="../scripts/jquery.timeago.js",type="text/javascript")
    script(src="../scripts/tagcloud.js")
    script(src="../scripts/common.js")
    script(src="../scripts/article.js")