extends layout
block content
    include ../components/header
    .main-container
      .left-content
        .article-page
          .article-header
            h2.article-title #{title}
            p.article-status
              span.pulish-time 日期：#{pulish_time}
              span.read-amount 浏览：#{read_amount}
              span.like-amount 赞：#{like_amount}
          .markdown-wd !{content}
          .article-footer
            .footer-page
              a(href=article_footer.prev?"/article/"+article_footer.prev._id:'javscript:;',class="prev") 《 #{article_footer.prev?article_footer.prev.title:'无'}
              a(href=article_footer.next?"/article/"+article_footer.next._id:'javscript:;',class="next") #{article_footer.next?article_footer.next.title:'无'} 》
      .right-side
        .login-box
          .username
            label(for="username") 用户名
            input(type="text", id="username",placeholder="请输入用户名",autocomplete="off")
          .password
            label(for="password") 密码
            input(type="password", id="password",placeholder="请输入密码",autocomplete="off")
          .login-btn 登录
          .lose-password 忘记密码？
          .quick-login
            .line
            .text 快捷登录
            .line
          .quick-login-icon
            span.iconfont.icon-qq
            span.iconfont.icon-github
            span.iconfont.icon-weixin
            span.iconfont.icon-weibo
        .tag-box
          .tagcloud
            each tag in tags
              a(href="/list/tag/"+tag._id) #{tag.content}
        .hot-article
          h2.title  热门文章
          ul.hot-article-list
            each list_item in hot_article_list
              li.hot-article-list-item.clearfix 
                a(href="/article/"+list_item._id,class="list-link") #{list_item.title}
                span.read-amount 
                  span.iconfont.icon-read
                  |#{list_item.read_amount}
           
    .tool-bar
      span.iconfont.icon-top
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="../scripts/tagcloud.js")
    script(src="../scripts/index.js")