extends layout
block content
    include ../components/header
    .main-container
      .left-content
        .article-page
          .article-header
            h2.article-title #{title}
            p.article-status
              span.pulish-time 日期：#{pulish_time}
              span.read-amount 浏览：#{read_amount}
              span.like-amount 赞：#{like_amount}
          .markdown-wd !{content}
          .article-footer
            .footer-page
              a(href=article_footer.prev?"/article/"+article_footer.prev._id:'javscript:;',class="prev") 《 #{article_footer.prev?article_footer.prev.title:'无'}
              a(href=article_footer.next?"/article/"+article_footer.next._id:'javscript:;',class="next") #{article_footer.next?article_footer.next.title:'无'} 》

        .comment-box
          textarea(id="comment-text",hidden)
          .bottom-bar
            .submit-comment 发表评论
        .comment-list
          .comment-list-item
            .avatar 
              img(src="//ezblog.oss-cn-beijing.aliyuncs.com/avatar/default-avatar.jpg", alt="用户头像")
            .content
              p.content-status
                span.username 德哈卡的
                span.comment-time 2017-09-20
              p.content-center
                |总结：如果被转换的javascript中含有函数或者undefined，则在转换过程中删除，含有null会转换成相应键值对。现在JSON数据格式已经非常成熟，平时的数据交互格式大多为JSON,所以学习使用JSON非常必要。自己学习过程的记录，与君共勉。推荐一个JSON在线验证网站：传送门
              .bottom-content
                .reply 回复
                .like
                  span.iconfont.icon-zan
                  |赞（100）
              textarea(id="comment-item-text",hidden)
            

      .right-side
        .tag-box
          .tagcloud
            each tag in tags
              a(href="/list/tag/"+tag._id) #{tag.content}
        .hot-article
          h2.title  热门文章
          ul.hot-article-list
            each list_item in hot_article_list
              li.hot-article-list-item.clearfix 
                a(href="/article/"+list_item._id,class="list-link") #{list_item.title}
                span.read-amount 
                  span.iconfont.icon-read
                  |#{list_item.read_amount}
           
    .tool-bar
      span.iconfont.icon-top
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="../scripts/tagcloud.js")
    script(src="../scripts/index.js")