extends layout

block content
  include ../components/header
  .main-container
    .left-content
      ul.article-list
        each list_item in article_list
          li
            .article-item
              h2.article-title #{list_item.title}
              p.top-status 
                span.publish-time 日期：#{list_item.publish_time}
                span.read-amount 阅读量：#{list_item.read_amount}
              .article-abstract
                |!{list_item.description}
              .article-footer
                .label-box
                  i.iconfont.icon-label
                  each item in list_item.tag
                    a(href="/list/tag/"+item._id,class="label-item") #{item.content}
                a(href="/article/"+list_item._id).read-total 阅读全文
      if next != -1 || prev != -1
        .pagination
          if prev != -1
            a(href="/?page="+prev,class="prev-page") &laquo; 上一页
          if next != -1
            a(href="/?page="+next,class="next-page") 下一页 &raquo;
    .right-side
      if tags
        .tag-box
          .tagcloud
            each tag in tags
              a(href="/list/tag/"+tag._id) #{tag.content}
      if hot_article_list
        .hot-article
          h2.title  热门文章
          ul.hot-article-list
            each item in hot_article_list
              li.hot-article-list.clearfix 
                a(href="/article/"+item._id,class="list-link") #{item.title}
                span.read-amount 
                  span.iconfont.icon-read
                  |#{item.read_amount}
    
  .tool-bar
    span.iconfont.icon-top
  script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
  script(src="./scripts/tagcloud.js")
  script(src="./scripts/common.js")