extends layout

block content
  include ../components/header
  .main-container
    .left-content
      ul.article-list
        li
          .article-item
            h2.article-title #{article.title}
            p.top-status 
              span.pulish-time 日期：#{article.pulish_time}
              span.read-amount 阅读量：#{article.read_amount}
              span.like-amount 赞：#{article.like_amount}
            .article-abstract
              |#{article.description}
            .article-footer
              .label-box
                i.iconfont.icon-label
                each item in article.tag
                  span.label-item #{item.content}
              a(href="/article/"+article._id).read-total 阅读全文
        li
          .article-item
            h2.article-title Est quos illo est hic itaque dolores optio.
            p.top-status 
              span.pulish-time 日期：2017-08-08
              span.read-amount 阅读量：200
              span.like-amount 点赞量：200
            .article-abstract
              |Non sit molestiae dolore rerum voluptatem. Voluptatem omnis delectus. Eveniet corrupti dolorem repellendus nihil tempora.Est culpa incidunt fugit suscipit in ducimus. Asperiores vero dolor labore in nostrum vitae consequuntur quia.
            .article-footer
              .label-box
                i.iconfont.icon-label
                span.label-item vue
                span.label-item css3
                span.label-item vue-router
              .read-total 阅读全文
        li
          .article-item
            h2.article-title Est quos illo est hic itaque dolores optio.
            p.top-status 
              span.pulish-time 日期：2017-08-08
              span.read-amount 阅读量：200
              span.like-amount 点赞量：200
            .article-abstract
              |Non sit molestiae dolore rerum voluptatem. Voluptatem omnis delectus. Eveniet corrupti dolorem repellendus nihil tempora.Est culpa incidunt fugit suscipit in ducimus. Asperiores vero dolor labore in nostrum vitae consequuntur quia.
            .article-footer
              .label-box
                i.iconfont.icon-label
                span.label-item vue
                span.label-item css3
                span.label-item vue-router
              .read-total 阅读全文
        li
          .article-item
            h2.article-title Est quos illo est hic itaque dolores optio.
            p.top-status 
              span.pulish-time 日期：2017-08-08
              span.read-amount 阅读量：200
              span.like-amount 点赞量：200
            .article-abstract
              |Non sit molestiae dolore rerum voluptatem. Voluptatem omnis delectus. Eveniet corrupti dolorem repellendus nihil tempora.Est culpa incidunt fugit suscipit in ducimus. Asperiores vero dolor labore in nostrum vitae consequuntur quia.
            .article-footer
              .label-box
                i.iconfont.icon-label
                span.label-item vue
                span.label-item css3
                span.label-item vue-router
              .read-total 阅读全文
    .right-side
      .login-box
        .username
          label(for="username") 用户名
          input(type="text", id="username",placeholder="请输入用户名",autocomplete="off")
        .password
          label(for="password") 密码
          input(type="password", id="password",placeholder="请输入密码",autocomplete="off")
        .login-btn 登录
        .lose-password 忘记密码？
        .quick-login
          .line
          .text 快捷登录
          .line
        .quick-login-icon
          span.iconfont.icon-qq
          span.iconfont.icon-github
          span.iconfont.icon-weixin
          span.iconfont.icon-weibo
      .tag-box
        .tagcloud
          each tag in tags
            a(href="#") #{tag.content}
      .hot-article
        h2.title  热门文章
        ul.hot-article-list
          li.hot-article-list.clearfix 
            a(href="#",class="list-link") 详解vuejssdsadasjkdhasjkdhajdhasjkdhaskjdhaskj
            span.read-amount 
              span.iconfont.icon-yuedu
              |200
          li.hot-article-list.clearfix 
            a(href="#",class="list-link") 详解vuejssdsadasjkdhasjkdhajdhasjkdhaskjdhaskj
            span.read-amount 
              span.iconfont.icon-yuedu
              |200
          li.hot-article-list.clearfix 
            a(href="#",class="list-link") 详解vuejssdsadasjkdhasjkdhajdhasjkdhaskjdhaskj
            span.read-amount 
              span.iconfont.icon-yuedu
              |200
          li.hot-article-list.clearfix 
            a(href="#",class="list-link") 详解vuejssdsadasjkdhasjkdhajdhasjkdhaskjdhaskj
            span.read-amount 
              span.iconfont.icon-yuedu
              |20000
          li.hot-article-list.clearfix 
            a(href="#",class="list-link") 详解vuejssdsadasjkdhasjkdhajdhasjkdhaskjdhaskj
            span.read-amount 
              span.iconfont.icon-yuedu
              |200
  .tool-bar
    span.iconfont.icon-top
  script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
  script(src="./scripts/tagcloud.js")
  script(src="./scripts/index.js")