extends layout
block content
  include ../components/header
  .main-container
    .left-content
      .list-container
        h2.title 文章列表
          if tag_content
            .tag 标签：
              span.tag_inner #{tag_content}
        ul.article-list-content
          each item in list
            li.article-list-content-item
              a(href="/article/"+item._id,class="title-text")
                h3.article-list-content-item-title #{item.title}
                .item-info
                  span.publish-time 
                    i.iconfont.icon-riqi
                    |#{item.publish_time}
                  span.read-amount
                    i.iconfont.icon-read
                    |#{item.read_amount}
                  span.like-amount
                    i.iconfont.icon-zan
                    |#{item.like_amount}
    .right-side
      .tag-box
        .tagcloud
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
          a(href="#") css
          a(href="#") Vue
          a(href="#") React
          a(href="#") Javascript
          a(href="#") nodejs
  script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
  script(src="./scripts/tagcloud.js")
  script(src="./scripts/index.js")